html {
    width: 100%;
    height: 100%;
    display: table;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
    padding: 0;
}

#page-container {
    position: relative;
    min-height: 100%;
  }

header{
    background-color: #BBBBBB;
    padding: 20px 0;
}

.caja{
    width: 70%;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 50%;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold !important;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
    color: #c78c19
}

.productos{
    /* width: 90%; */
    min-width: auto;
    margin: 0 auto;
    padding: 50px;
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.productos li:hover{
    border: 2px solid #c78c19;
}

.productos li:active{
    border-color: #088c19;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2{
    font-size: 33px;
}

.producto_Descripcion{
    font-size: 18px;
}
.producto_Precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;


    text-align: center;
    background: url(/public/bg.jpg);
    padding: 40px;
}

.copyright{
    color: #FFFFFF;
    font-size: 15px;
    margin: 20px;
}

